/**
 * Box-shadows
 */
$box-shadow-modal: 0 6px 24px 0 var(--shadowColorSecondary);
$box-shadow-light: 0 1px 3px 0 var(--shadowColorPrimary);
$box-shadow-card: 0 2px 10px 0 var(--shadowColorPrimary);
