/**
 * Media query breakpoints for max query
 */
$breakpoint-down-xl: 1365.98px;
$breakpoint-down-lg: 1199.98px;
$breakpoint-down-md: 991.98px;
$breakpoint-down-sm: 767.98px;
$breakpoint-down-xs: 575.98px;

/**
  * Media query breakpoints for min query
  */
$breakpoint-up-xl: 1366px;
$breakpoint-up-lg: 1200px;
$breakpoint-up-md: 992px;
$breakpoint-up-sm: 768px;
$breakpoint-up-xs: 576px;
