@import '../../../../styles/constants';

.landingHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $landing-header-height;
  padding: 0 24px;
  background-color: var(--bgSecondary);
  box-shadow: 0 0 6px 0 rgba(229, 190, 190, 0.16);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__rightBlock {
    display: flex;
    align-items: center;
  }

  &__signUpButton {
    margin-right: 12px;
  }
}
