@import '../../../styles/constants';
@import '../../../styles/mixins';

.avatar {
  @include center;
  overflow: hidden;
  cursor: default;
  border-radius: 50%;
  border-radius: 50%;

  &_withBorder {
    border: 2px solid var(--borderPrimary);
    transition: border-color $anim-time-fast;

    &:hover {
      border-color: var(--borderDark);
    }
  }

  &_withClick {
    cursor: pointer;
  }

  &_xs {
    width: 36px;
    min-width: 36px;
    height: 36px;
    min-height: 36px;
  }

  &_sm {
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
  }

  &_lg {
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
  }
}
